.nav {
	height: 100px;
	&__list {
		@include flex-mother();
		justify-content: space-around;
		height: inherit;
		list-style-type: none;
	}
	&__item {
		font-size: clamp(1.2rem, 3vh, 3rem);
		text-decoration: none;
		color: white;
	}
	background-color: rgba(5, 1, 1, 0.796);
}
